.file-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background: #63AE8D;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.file-btn:hover {
  background: #559A7A;
}

